.header-main {
  height: 100px;
  background-color: #0c2d57;
  display: flex;
  justify-content: space-evenly;
}

.child1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: #fff;
}

.child2 {
  display: flex;
  flex: end;
  justify-content: flex-end;
  align-items: center;
  width: 75%;
}

.child2 label {
  margin-right: 5%;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  transition: transform 0.3s;
}

label:hover {
  transform: scale(1.2);
}
