/* body {
  font-family: "Dancing Script", cursive;
} */

.header-main {
    height: 100px;
    background-color: #0C2D57;
    display: flex;
    justify-content: space-evenly;
    
}

.child1 {
    display: flex;
  justify-content: center; 
  align-items: center; 
  width: 25%;
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  color: #fff;
}


.child2 {
    display: flex;
    flex: end;
  justify-content: flex-end; 
  align-items: center; 
  width: 75%;
  /* margin-right: 10%; */
}


.child2 label {
    margin-right: 10%; /* Adjust the spacing between labels */
    color: white;
    cursor: pointer;
    font-family:sans-serif;
    transition: transform 0.3s;
}

label:hover {
  transform: scale(1.2);
}

