.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptofile-child1 {
    background-color: #0B2447;
    width: 300px;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 175px;
}

.ptofile-sub-child1 {
    background-color: #B8E8FC;
    width: 85%;
    height: 85%;
    margin: auto;
    margin-top: 25px;
    overflow: hidden;
    border-radius: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ptofile-photo {
    width: 85%;
    height: 85%;
    border-radius: 150px;
    object-fit: cover;
}